$color-bg: #f4f4f4;
$color-surface: #fdfdfd;
$color-border: #dadada;
$color-text-muted: #9c9c9c;
$color-text-secondary: #595959;
$color-text: #161616;
$color-accent: #22a0bc;

$container-width: 1140px;
$breakpoint-mobile: 768px;
